.MenuBackground { background-color: #007df3; }
.IconText { color: #ffffff; }
.TitleBar { background-color: #9e009e; }
.TitleText { color: #ffff00; }
.MenuBar { background-color: #00aaae; }
.MenuText { color: #000000; }
.StatusBar { background-color: #00aaae; }
.StatusText { color: #ffffff; }
.CommandButtons { background-color: #aaaaaa; }
.DialogInterior { background-color: #aaaaaa; }
.DialogFrame { border-color: #00aaae; }
.DialogText { color: #000000; }
.DialogEditBox { background-color: #00aaae; }
.DialogEditText { color: #000000; }
.ListBoxTitleBar { background-color: #0000c3; }
.ListBoxTitleText { color: #ffffff; }
.ListBoxInterior { background-color: #00ffff; }
.ListBoxText { color: #0000c3; }
.ListBoxScrollBar { background-color: #757575; }
.ViewerBackground { background-color: #007df3; }
.ViewerText { color: #ffff00; }
.ViewerScrollBar { background-color: #757575; }
.EditorBackground { background-color: #00ffff; }
.EditorText { color: #0000c3; }
.EditorCursor { background-color: #0000c3; }
.EditorCursorText { color: #ffffff; }
.EditorScrollBar { background-color: #757575; }
.TimeLogTitleBar { background-color: #00aaae; }
.TimeLogTitleText { color: #000000; }
.TimeLogBackground { background-color: #00ffff; }
.TimeLogText { color: #0000c3; }
.TimeLogScrollBar { background-color: #757575; }
